{% extends 'base.html' %}

{% block header %}
<h1>Execute query</h1>
{% endblock %}

{% block content %}
<form method="post"
      action="/command/execute">
    <div class="row form-group">
        <label class="col-md-4"
               for="name">
            Configuration:
        </label>
        <div class="col-md-8">
            <select class="form-control"
                    name="name"
                    id="name">
                <option value="0"
                        selected>
                    --all--
                </option>
                {% for configuration in configurations %}
                <option value="{{configuration.name}}">{{configuration.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row form-group">
        <label class="col-md-4"
               for="group">
            Group:
        </label>
        <div class="col-md-8">
            <select class="form-control"
                    name="group"
                    id="group">
                <option value=""
                        selected>
                    --all--
                </option>
                {% for configuration in configurations %}
                <optgroup label="{{configuration.name}}">
                    {% for group in configuration.groups %}
                    <option value="{{group}}">{{group}}</option>
                    {% endfor %}
                </optgroup>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row form-group">
        <label class="col-md-12">
            <input type="checkbox"
                   name="transaction"
                   id="transaction"/>
            Use transaction
        </label>
    </div>
    <div class="row form-group">
        <label class="col-md-4"
               for="query">
            Query:
        </label>
        <div class="col-md-8">
            <textarea name="query"
                      id="query"
                      class="form-control"
                      rows="10"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="submit"
                    class="btn btn-block btn-primary">
                Execute queries
            </button>
        </div>
    </div>
</form>
{% endblock %}
